body {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
  margin: 16px;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

a {
  color: white;
  text-decoration: underline;
}

.image-container {
  background-color: #12ee56;
  border-radius: 1rem;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.image-container img {
  width: 300px;
  display: block;
  border-radius: 1rem;
}

form {
  margin-top: 1rem;
}
form label {
  display: block;
  margin-bottom: 1rem;
}
input,
select,
button {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  
}

button {
  display: inline-block;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

